<footer class="footer">
    <div class="footer-container">

        <!-- 版權資訊 -->
        <div class="footer-bottom">
            <div class="footer-bottom-content">
                <p class="copyright">
                    CryptoEx 2000 &copy; 2025 - All Rights Reserved
                   <!-- {{ currentYear }} {{ companyName }}. All rights reserved. -->
                </p>
                <!-- <div class="footer-bottom-links">
                    <a href="/privacy-policy" class="footer-bottom-link">隱私政策</a>
                    <span class="separator">|</span>
                    <a href="/terms-of-service" class="footer-bottom-link">服務條款</a>
                </div> -->
            </div>
        </div>
    </div>
</footer>
